# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build outputs
node_modules/
dist/
dist-ssr/
*.local

# System and editor files
.DS_Store
.idea/
.vscode/
Thumbs.db
